{% extends "base.html" %}
{% load l10n_tags %}
{% load user_tags %}
{% load activity_tags %}
{% load pagination_tags %}

<!-- lernanta2.css only used for activity feed styling at bottom -->
{% block css %}<link rel="stylesheet" href="{{ STATIC_URL }}css/lernanta-activity.css?v=1">{% endblock %}
{% block title %}{{ profile.username }}{% endblock %}

{% block links %}
<link rel="profile" href="http://microformats.org/profile/hcard" />
{% endblock %}

{% block bodyid %}user_profile{% endblock %}

{% block breadcrumbs %}
  <li><span class="divider">&rsaquo;</span>
  <a href="{% locale_url users_user_list %}">{{ _('People') }}</a></li>
  <li><span class="divider">&rsaquo;</span>
  <a href="{{ profile.get_absolute_url }}">{{ profile.username }}</a></li>
{% endblock %}
{% block breadcrumbs_actions %}
  {% if user.is_authenticated and user == profile.user %}
    <a class="btn btn-clemintine pull-right" href="{% locale_url users_profile_edit %}">{{ _('Edit Profile') }}</a>
  {% endif %}
{% endblock %}

{% block body %}

<div class="row-fluid">
  <div class="span9">
    <div class="well">
      {% profile_info %}
    </div>
  </div>
  <div class="span3">
    {% user_sidebar %}
  </div>
</div>

{% endblock %}

