{% extends "base.html" %}
{% load l10n_tags %}
{% load user_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %}{{ profile.username }}{% endblock %}

{% block links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_profile_feed username=profile.username %}" title="{{_('Activity from user\'s profile')}}" />
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_dashboard_feed username=profile.username %}" title="{{_('Activity from user\'s dashboard')}}"/>
<link rel="profile" href="http://microformats.org/profile/hcard" />
{% endblock %}

{% block bodyid %}user_profile{% endblock %}
{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{% locale_url users_user_list %}">{{ _('People') }}</a>
  <span class="arrow">&rsaquo;</span>
  <a href="{{ profile.get_absolute_url }}">{{ profile.username }}</a>
{% endblock %}
{% block breadcrumbs_actions %}
{% endblock %}

{% block body %}

{% user_sidebar %}

<div id="main">

<pre>
We need to have the courses that the user has signed up for displayed here. And we need the courses that the user has created displayed below the courses they've joined. We also need a button to encourage the user to create a class and one to encourse the user to explore available courses.
</pre>

</div> <!-- /#main -->

{% endblock %}

