{% extends "base.html" %}
{% load i18n %}
{% load l10n_tags %}
{% load user_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %}{{ _('Your Dashboard') }}{% endblock %}
{% block links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_profile_feed username=user.get_profile.username %}" title="{{_('Activity from your profile')}}" />
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_dashboard_feed username=user.get_profile.username %}" title="{{_('Activity from your dashboard')}}"/>
{% endblock %}
{% block bodyid %}dashboard{%endblock%}

{% block breadcrumbs %}
  <span class="arrow">&rsaquo;</span>
  <a href="{{ dashboard_url }}">{{ _('Dashboard') }}</a>

{% endblock %}

{% block body %}

{% user_sidebar %}

<div id="main">
  {% if show_welcome %}
    <article class="welcome">
      <header><a href="{% locale_url dashboard_hide_welcome %}" title="Hide this message"><img class="close_button" src="{{ MEDIA_URL }}images/closeButton.png"></a></header>
      <h1>{{ _('Welcome to P2PU!') }}</h1>
      <p>{{ _('To get started, you should ') }}<a href="{% locale_url users_profile_edit %}">{{ _('update your profile</a>. This is a great way to tell people a bit more about yourself. Then find ') }}<a href="{% locale_url users_user_list %}">{{_('people</a> and ') }}<a href="{% locale_url projects_gallery %}">{{ _('groups</a> that interest you and start following them! You can also ') }}<a href="{% locale_url projects_create %}">{{ _('create new groups</a> and update how often P2PU ') }}<a href="{% locale_url preferences_settings %}">{{_('contacts you</a>.') }}</p>
    </article>
  {% endif %}


</div> <!-- /#main -->

{% endblock %}
