{% extends "projects/base.html" %}
{% load l10n_tags %}
{% load project_tags %}
{% load activity_tags %}
{% load pagination_tags %}

{% block title %}{{ project.name }}{% endblock %}

{% block project_links %}
<link rel="alternate" type="application/atom+xml" href="{% locale_url activity_project_feed slug=project.slug %}" />
{% endblock %}

{% block bodyid %}project_landing{% endblock %}

{% block body %}

{% sidebar %}

<div id="main">
  
  {% if content_pages_for_header %}
  <div id="task_header">
  <h2 class="school_header"><span>{{ _('Tasks') }}</span></h2>
  <ul>
    {% for page in content_pages %}
    <li class="{% cycle 'odd' 'even' %}">
        <span class="taskNumber">{{forloop.counter}}</span> <a class="taskLink" href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </li>
        {% endfor %}
      </ul>
  </div>
  {% endif %}

</div> <!-- /#main -->

{% endblock %}

